*.pyc
*.pyo
*.pyd
__pycache__/
*.swp
*.bak
*~
.DS_Store
.project
.pydevproject
.settings/
.vscode/
node_modules/
*.tar.gz
*.tar
*.zip
*.gz
*.log
*.sql
*.csv
venv/
env/
sites/
logs/
assets/
local_config.json
backups/
